---
layout: default
---

<div class="home">

  <h1 class="page-heading">Ceramicas Fina</h1>


  {% slider 16:9 bullets %}
  ![alt text 1](/jekyll/img/2015_04_09_Ceramica/img1.JPG)
  ![alt text 2](/jekyll/img/2015_04_09_Ceramica/img2.JPG)
  ![alt text 3](/jekyll/img/2015_04_09_Ceramica/img3.JPG)
  {% endslider %}
  
    <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <!--<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>-->

</div>

