<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
	<!-- Slider -->
	<script src="{{ "ideal-image-slider.min.js" | relative_url }}"></script>
	<script src="{{ "extensions/bullet-nav/iis-bullet-nav.js" | relative_url }}"></script>
	<script src="{{ "extensions/captions/iis-captions.js" | relative_url }}"></script>
	<!-- Sliders on pages -->
	{% for script in page.iis_slider_scripts %}
	  {{ script }}
	{% endfor %}
	<!-- Sliders on indexes -->
	{% for post in paginator.posts %}
	  {% for script in post.iis_slider_scripts %}
		{{ script }}
	  {% endfor %}
	{% endfor %}
  </body>

</html>
